<body class='garage'>
  	<%= render 'layouts/header' %><br><br>
		<% if !current_user.vehicles.empty? %>
			<% @vehicles.each do |vehicle| %>
				<div class='vehiclebox'><br>
				  <%= vehicle.make %>
				  <%= vehicle.model %><br><br>
				  <%=link_to 'Service Vehicle', vehicle_path(vehicle.id)%>
				  </div>
				<%end%>
			<%else%>
				<div class='vehicleadd'>
					<h3>No vehicles stored</h3>
				</div>
			<%end%>
		<br><br>
	<div class='vehicleadd'><br>
		<a href="/newvehicle">Add a Vehicle<a>
	</div>
</body>
