 <div class='miles'><br>
	<form action='/miles'>
		<input type ='double' name='miles' placeholder="Miles Traveled" autocomplete="off"></input>
		<input type ='double' name='gallons' placeholder="Gallons Used" autocomplete="off"></input>
	    <button type="submit" title="<%= @vehicle.model %>" name='id' value="<%= @vehicle.id %>">Calculate Vehicle MPG</button>
	</form>
 </div>