<div id='aboutpage'><br>
	<h1>About Service Supreme</h1>
	<p>Welcome to the Service Supreme app! Log in or Sign up to get started!<p>
	<p> Add a vehicle to your garage, where you can keep a service log and notes on your vehicle.</p>
</div>
