<div class="navbar">
  <a href="/"><img id='logo' src='/images/servicelogo.jpg'></a>
  <h1 id='title'>Service Supreme</h1>
</div>
<div id='links'>
	  <% if current_user %>
	  	<a id='logout' href="/logout">Logout</a>
	  	<%= link_to "Garage", user_path(current_user.id), id: "garage"%>
	  <% end %>
</div>


