<!DOCTYPE html>
<html>
  <head>
    <title>Service Supreme</title>
    <link rel="shortcut icon" type="image/png" href="/images/servicelogo2.jpg">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= yield %>
</html>
